.main {
  grid-area: main;
}

.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.card {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 20px;

  background-color: lemonchiffon;
}

.card__link {
  padding: 0.5rem;
  border-radius: 10px;

  color: white;
  background-color: lightgreen;

  text-decoration: none;
}

.card__pic {
  aspect-ratio: 1/1;
  width: 150px;
  height: 180px;
}

.card__link:hover {
  background-color: limegreen
}

@media (min-width: 40rem) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer"
    ;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
  }

  .header__logo {
    width: 150px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card {
    grid-column: span 4;
  }
}